{% extends 'admin/base.html.twig' %}

{% block title %}New Appointment{% endblock %}

{% block body %}
    {{ include('Admin/appointment/_form.html.twig') }}

    <a href="{{ path('app_appointment_index') }}" class="btn btn-success">back to list</a>
{% endblock %}
