<div class="py-2 bg-primary">
	<div class="container">
		<div class="row no-gutters d-flex align-items-start align-items-center px-3 px-md-0">
			<div class="col-lg-12 d-block">
				<div class="row d-flex">
					<div class="col-md-5 pr-4 d-flex topper align-items-center">
						<div class="icon bg-fifth mr-2 d-flex justify-content-center align-items-center">
							<span class="icon-map"></span>
						</div>
						<span class="text">Rua Padre Joao, 7-29, Bauru SP, 17014-003, Brasil</span>
					</div>
					<div class="col-md pr-4 d-flex topper align-items-center">
						<div class="icon bg-secondary mr-2 d-flex justify-content-center align-items-center">
							<span class="icon-paper-plane"></span>
						</div>
						<span class="text">contato@clinicaestimulos.com.br</span>
					</div>
					<div class="col-md pr-4 d-flex topper align-items-center">
						<div class="icon bg-tertiary mr-2 d-flex justify-content-center align-items-center">
							<span class="icon-phone2"></span>
						</div>
						<span class="text">
							<a class="text" href="https://wa.me/14991235883?text=Estava%20navegando%20pelo%20site%20e%20quero%20saber%20mais%20detalhes." target="_blank">
								(14) 99123-5883</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
