<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-position:center;background-size:cover;background-image: url({{asset('institutional/images/estimulos-clinica-infantil-bauru-capa-2-1240x540.jpeg')}});" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row justify-content-start">
				<div class="col-md-6 py-5 px-md-5 bg-primary">
					<div class="heading-section heading-section-white ftco-animate mb-5">
						<h2 class="mb-4">Solicite um orçamento</h2>
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
					<form action="#" class="appointment-form ftco-animate">
						<div class="d-md-flex">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="First Name">
							</div>
							<div class="form-group ml-md-4">
								<input type="text" class="form-control" placeholder="Last Name">
							</div>
						</div>
						<div class="d-md-flex">
							<div class="form-group">
								<div class="form-field">
									<div class="select-wrap">
										<div class="icon">
											<span class="ion-ios-arrow-down"></span>
										</div>
										<select name="" id="" class="form-control">
											<option value="">Select Your Course</option>
											<option value="">Art Lesson</option>
											<option value="">Language Lesson</option>
											<option value="">Music Lesson</option>
											<option value="">Sports</option>
											<option value="">Other Services</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group ml-md-4">
								<input type="text" class="form-control" placeholder="Phone">
							</div>
						</div>
						<div class="d-md-flex">
							<div class="form-group">
								<textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Message"></textarea>
							</div>
							<div class="form-group ml-md-4">
								<input type="submit" value="Solicite um orçamento" class="btn btn-secondary py-3 px-4">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>