<section class="home-slider owl-carousel">
	<div class="slider-item" style="background-image:url({{asset('institutional/images/bg_1.jpg')}});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
				<div class="col-md-8 text-center ftco-animate">
					<h1 class="mb-4">As crianças são os melhores
						<span>exploradores do mundo</span>
					</h1>
					<p>
						<a href="#" class="btn btn-secondary px-4 py-3 mt-3">Mais informação</a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-item" style="background-image:url({{asset('institutional/images/bg_2.jpg')}});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
				<div class="col-md-8 text-center ftco-animate">
					<h1 class="mb-4">Aprendizado perfeito<span>para seu filho</span>
					</h1>
					<p>
						<a href="#" class="btn btn-secondary px-4 py-3 mt-3">Mais informação</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
